<%layout('layouts/boilerplate')%>
<link
    href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css"
    rel="stylesheet"
    crossorigin="anonymous"
/>
<link
    rel="stylesheet"
    href="/stylesheets/showMap.css"
    crossorigin="anonymous"
/>
<div id="indexMap" class="mb-4"></div>
<div class="container">
    <h1 class="text-center mb-3">All Campgrounds</h1>
    <% for(campground of campgrounds) { %>
    <div class="card mb-4">
        <div class="row">
            <div class="col-md-4">
                <% if (campground.images.length) { %>
                <img
                    src="<%=campground.images[0].url%>"
                    class="card-img-top img-fluid"
                    alt="..."
                    crossorigin="anonymous"
                />
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%=campground.title%></h5>
                    <p class="card-text"><%=campground.description%></p>
                    <p class="card-text">
                        <small class="text-secondary">
                            <%=campground.location%>
                        </small>
                    </p>
                </div>
                <a
                    href="/campgrounds/<%=campground._id%>"
                    class="btn btn-primary"
                    >View <%=campground.title%></a
                >
            </div>
        </div>
    </div>
    <%}%>
</div>
<script
    src="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js"
    crossorigin="anonymous"
></script>

<script>
    const mapToken = "<%-process.env.MAPBOX_TOKEN-%>";
    const campgroundsData = {features: <%-JSON.stringify(campgrounds)-%>};
</script>
<script src="/javascripts/indexMap.js" crossorigin="anonymous"></script>
